# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license

### Node ###
# Logs
logs
*.log
npm-debug.log*


# Dependency directory


# Optional npm cache directory
.npm

### OSX ###
.DS_Store
.AppleDouble
.LSOverride


### Sass ###
.sass-cache/
*.css.map

### Webpack ###
dist

### Visual Studio Code ###
.settings/
.vscode/
